[submodule "Assets/JvLib-Core"]
	path = Assets/JvLib-Core
	url = https://github.com/JvLib/JvLib-Core.git
[submodule "Assets/JvLib-Audio"]
	path = Assets/JvLib-Audio
	url = https://github.com/JvLib/JvLib-Audio.git
[submodule "Assets/JvLib-Windows"]
	path = Assets/JvLib-Windows
	url = https://github.com/JvLib/JvLib-Windows.git
[submodule "Assets/JvLib-Data"]
	path = Assets/JvLib-Data
	url = https://github.com/JvLib/JvLib-Data.git
[submodule "Assets/JvLib-StateMachine"]
	path = Assets/JvLib-StateMachine
	url = https://github.com/JvLib/JvLib-StateMachine.git
[submodule "Assets/JvLib-Pooling"]
	path = Assets/JvLib-Pooling
	url = https://github.com/JvLib/JvLib-Pooling.git
